/* -- NAVBAR -- */

body {
  background-image: linear-gradient(
    135deg,
    rgb(31, 31, 33) 90%,
    rgb(171, 162, 171) 80%
  );
  background-attachment: fixed;
  background-size: 100%;
  flex-wrap: nowrap;
}

/* --- CURIOSIDADES --- */

.pedro {
  width: 200px;
  margin: 0;
  float: left;
  padding: 14px 16px;
  text-align: center;
  font-family: Georgia, serif;
  font-weight: 100;
}

nav {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  padding: 10px 14px;
  left: 0;
  top: 0;
  background-color: rgb(19, 19, 19);
  border-bottom: 1px solid white;
}

.nav {
  display: flex;
  position: fixed;
  width: 100%;
}

h1 {
  margin: 0;
  color: rgb(255, 255, 255);
}

.opcoes {
  display: flex;
  margin: 0px auto;
  padding: 0;
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  margin: 0px;
  padding: 0;
  list-style-type: none;
}

li {
  border-right: 1px solid #bbbbbb69;
  border-left: 1px solid #bbbbbb69;
}

li a {
  padding: 14px 16px;
  display: block;
  text-align: center;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 25, 25);
  text-decoration: none;
}

li a:hover {
  font-weight: 700;
  color: black;
  background-color: rgba(171, 162, 171, 0.767);
  padding: 15px 17px;
  transition: 100ms linear;
  border-radius: 15px;
}

a {
  display: block;
  margin: 0 15px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.044);
}

.active {
  font-weight: 700;
  color: black;
  background-color: rgb(171, 162, 171);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 
  0 0 5px rgba(0, 0, 0, 0.25),
  0 0 10px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
}

/* -- MAIN -- */

#container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.353);
  width: 100%;
  max-width: 650px;
  padding: 0 24px;
  margin-bottom: 30px;
  margin-top: 90px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 6px 6px 10px;
}

section {
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 85px;
}

#main {
  display: flex;
}

#sobre-main {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.353);
  width: 100%;
  max-width: 1000px;
  padding: 24px 24px;
  margin: 90px auto 30px auto;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 6px 6px 10px;
}

.corpo-sobre {
  display: flex;
  justify-content: center;
  color: white;
}

h2 {
  text-decoration: underline;
  padding: 5px;
  background-color: rgba(29, 27, 27, 0.353);
  border-radius: 5px;
}

.titulo-sobre {
  align-items: center;
  color: white;
}

p {
  margin: 0;
}

.sobre-o-site {
  width: 100%;
  max-width: 700px;
  text-align: justify;
  margin: 0;
  padding: 10px;
  background-color: rgb(184, 180, 180);
  border: 1px dashed rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.container2 {
  background-color: rgba(0, 0, 0, 0.353);
  width: 100%;
  max-width: 640px;
  padding: 0 24px;
  margin: 0px 50px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 6px 6px 10px;
}

.container3 {
  background-color: rgba(0, 0, 0, 0.353);
  width: 100%;
  max-width: 640px;
  padding: 0 24px;
  margin: 0px 50px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 6px 6px 10px;
}

iframe {
  border-radius: 15px;
}

#video {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.353);
  backdrop-filter: blur(5px);
  margin-top: 20px;
  padding: 2px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: rgba(255, 255, 255, 0.11) 6px 6px 10px;
}

article {
  color: white;
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
  padding: 1px;
}

footer {
  position: fixed;
  width: 98.5%;
  margin: 0px 0px 15px 0px;
  bottom: 0;
  overflow: hidden;
}

a {
  padding: 0;
}

.botao1 {
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0;
  float: right;
  background-color: rgba(215, 215, 215, 0);
  border: 0;
}

.botao2 {
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 0;
  float: left;
  background-color: rgba(215, 215, 215, 0);
  border: 0;
}

.seta {
  display: flex;
  width: 60px;
  height: 60px;
}

/* --- INDEX --- */

#secoes {
  display: flex;
  background-color: rgba(0, 0, 0, 0.353);
  backdrop-filter: blur(5px);
  width: 100%;
  max-width: 1000px;
  padding: 24px 24px;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 6px 6px 10px;
}

.resumo {
  background-color: rgba(0, 0, 0, 0.353);
  width: 100%;
  max-width: 400px;
  margin: 0px 25px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 6px 6px 10px;
}

.resumo-info {
  color: rgb(192, 190, 190);
  margin: 10px;
  margin-top: 20px;
  text-align: justify;
}

#foto {
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 6px 6px 50px;
}

.imagem-perfil {
  width: 204px;
  height: 204px;
  margin: 0 25px;
}

.contatos {
  background-color: rgba(0, 0, 0, 0.353);
  width: 100%;
  max-width: 427px;
  margin: 0px 25px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.378);
  box-shadow: 6px 6px 10px;
}

.box1 {
  width: 100%;
  height: 45px;
  border-radius: 15px 15px 0 0;
}

.inbox1 {
  margin: 7.5px;
  color: rgba(255, 255, 255, 0.89);
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.redes {
  margin: 30px 20px 15px 20px;
  padding: 0;
  border: 1px dashed white;
  border-radius: 10px;
}

.redes-info {
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.icones {
  width: 25px;
  height: 25px;
  margin: 0px 10px 0px 0px;
}

.link-redes {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.resumo-info {
  height: 300px;
}

.tema-claro {
  background-image: linear-gradient(
    135deg,
    #dfc5c5 90%,
    rgb(29, 27, 29) 80%
  );
  color: rgb(0, 0, 0) !important;
}

.tema-claro article,
.tema-claro .resumo-info,
.tema-claro .redes-info,
.tema-claro nav,
.tema-claro .opcoes,
.tema-claro .contatos,
.tema-claro .resumo,
.tema-claro #container,
.tema-claro .container3,
.tema-claro .container2,
.tema-claro #sobre-main,
.tema-claro #secoes,
.tema-claro h4,
.tema-claro h3,
.tema-claro h1,
.tema-claro #main {
  border-radius: 7px;
  background-color: #dfc5c5 !important;
  color: black !important;
  border-color: rgb(0, 0, 0) !important;
}

.tema-claro a,
.tema-claro button {
  background-color: rgb(99, 95, 95);
}

.tema-claro a:hover {
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
}

.tema-claro .active {
  border-color: black;
  background-color: rgb(226, 228, 227);
  color: rgb(0, 0, 0);
}

.tema-claro .inbox1,
.tema-claro .corpo-sobre {
  color: black;
}

.tema-claro .redes {
  border-color: black;
}

.tema-claro .box1 {
  background-color: rgb(224, 220, 220);
}

.tema-escuro {
  /* já é o padrão do seu site, então você pode até não precisar definir isso */
}

.botoes-funcionais {
  display: flex;
  margin-left: 15px;
  gap: 10px;
  justify-content: center;
}



.btn-idioma {
  padding: 1px 15px;
  background-color: rgba(29, 27, 27, 0.353);
  color: white;
  border: none;
  border-radius: 8px;
}
.btn-idioma:hover {
  background-color: rgba(171, 162, 171, 0.767);
}

@media (max-width: 914px) {

  main {
    align-items: center;
    justify-content: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px 0;
  }

  .pedro {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .nav {
    position: static;
    width: 100%vb;
    justify-content: center;
  }

  .opcoes {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    padding: 2px;
    width: 100%;
    text-align: center;
    border: none;
  }

  li a {
    display: inline-block;
    width: 80%;
    padding: 12px;
  }

  .botoes-funcionais {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  #secoes {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 85%;
  }

  #video {
    height: 250px;
  }

  #container,
  .resumo,
  .contatos,
  .imagem-perfil {
    max-width: 85%;
    margin: 0 auto;
  }

  #sobre-main {
    max-width: 85%;
    margin-top: 50px;
  }

  #container{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #foto{
    max-width: 200px;
    max-height: 200px;
  }

  .imagem-perfil {
    display: flex;
    justify-content: center;
  }

  .imagem-perfil img {
    max-width: 150px;
    height: auto;
  }

  .container2,
  .container3 {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  #main {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 100% !important;
    height: auto !important;
    max-height: 250px;
  }

  article {
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }

  .resumo-info {
    height: auto;
  }
}




